
<link rel="stylesheet" type="text/css" href="/css/carts.css">

<h1>Carritos</h1>

<div class="carts-menu-div">
    <a href="/api/carts/cart/cart">Ver carrito</a>
    <a href="/api/carts/cart/cartDel">Vaciar carrito</a>
    <a href="/api/carts/cart/cartSearch">Buscar carrito</a>

    <p>{{message}}</p>
    <p style="color: red">{{error}}</p>
</div>

