
<link rel="stylesheet" type="text/css" href="/css/carts.css">

<h1>Carritos</h1>

<a href="/api/carts/cart/cart" class="menu">Ver carrito</a>
<a href="/api/carts/cart/cartDel" class="menu">Vaciar carrito</a>
<a href="/api/carts/cart/cartSearch" class="menu">Buscar carrito</a>

<p style="color: red">{{error}}</p>
