
<link rel="stylesheet" type="text/css" href="/css/carts.css">

<h1>Carritos</h1>

<a href="/api/carts/cart/cartAdd" class="menu">Añadir</a>
<a href="/api/carts/cart/cartDel" class="menu">Eliminar</a>
<a href="/api/carts/cart/cart" class="menu">Ver carrito</a>
<a href="/api/carts/cart/cartSearch" class="menu">Buscar carrito</a>
