
<link rel="stylesheet" type="text/css" href="/css/chat.css">

<div id="centered-div">
    <ul id="ul-messages"></ul>
    <input id="message-submit" type="text" name="message"> 
    <input id="button" type="button" value="Enviar">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>