
<link rel="stylesheet" type="text/css" href="/css/chat.css">

<h1>Chat</h1>

<div class="chat-div">
    <div class="chat-messages"> 
        <ul class="chat-messages-ul">
        {{#each users}}
            <li>({{this.name}}): {{this.message}}</li>
        {{/each}}
        </ul>
        {{#if users.empty}}
            <p>No hay mensajes en este canal.</p>
        {{/if}}
    </div>
    <div class="chat-form">
        <form method="post" action="/api/chats/message-add">
            <input class="message-submit" type="text" name="message"> 
            <input class="message-submit-button" type="submit" value="Enviar">
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>