
<link rel="stylesheet" type="text/css" href="/css/login_signin.css">

<h1>Login</h1>
<form method="post" action="/api/sessions/user-login">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit" value="Log in">
    <a id="signin" href="/api/sessions/signin">Registrarse</a>
</form>

<p>{{message}}</p>
<p style="color: red">{{error}}</p>
