
<link rel="stylesheet" type="text/css" href="/css/products.css">

<h1>Productos</h1>

<a href="/api/products/productsAdd" class="menu">Añadir</a>
<a href="/api/products/productsDel" class="menu">Eliminar</a>
<a href="/api/products/products" class="menu">Ver productos</a>

