
<link rel="stylesheet" type="text/css" href="/css/products.css">

<h1>Productos - Añadir</h1>

<form class="products-add-form" method="post" action="/api/products/productsAddView">
    <input type="text" placeholder="Título" name="title" required>
    <input type="text" placeholder="Descripción" name="description" required>
    <input type="text" placeholder="Código" name="code" required>
    <input type="text" placeholder="Precio" name="price" required>
    <input type="text" placeholder="Stock" name="stock" required>
    <input type="text" placeholder="Categoría" name="category" required>
    <input type="submit" value="Añadir">
</form>

<p>{{message}}</p>
<p style="color: red">{{error}}</p>
