
<link rel="stylesheet" type="text/css" href="/css/products.css">

<h1>Productos</h1>

<div class="products-menu-div">
    <a href="/api/products/productsView" class="menu">Ver productos</a>
    <a href="/api/products/productsAdd" class="menu">Añadir producto</a>
    <a href="/api/products/productsSearch" class="menu">Buscar producto</a>

    <p style="color: red">{{error}}</p>
</div>