
<link rel="stylesheet" type="text/css" href="/css/products.css">

<h1>Productos - Eliminar</h1>

<form method="post" action="/api/products/:pid">
    <input type="text" placeholder="ID" name="pid" required>
    <input type="submit" value="Eliminar">
</form>