
<link rel="stylesheet" type="text/css" href="/css/realtimeproducts.css">

<div id="div-products">
    <div class="div-container">
        <div class="div-content"></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>