
<link rel="stylesheet" type="text/css" href="/css/login_signin.css">

<h1>Recuperar cuenta</h1>
<form id="login-form" method="post" action="/api/sessions/user-recover-form?token={{token}}">
    <input type="password" name="password" placeholder="Nueva contraseña">

    <input type="submit" value="Recuperar">
</form>