
<link rel="stylesheet" type="text/css" href="/css/login_signin.css">

<h1>Recuperar cuenta</h1>
<form id="login-form" method="post" action="/api/sessions/user-recover">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Recuperar">
</form>