
<link rel="stylesheet" type="text/css" href="/css/login_signin.css">

<h1>Sign in</h1>

<form method="post" action="/api/sessions/user-signup">
    <input type="text" name="first_name" placeholder="Nombre">
    <input type="text" name="last_name" placeholder="Apellido">
    <input type="email" name="email" placeholder="Email">
    <input type="number" name="age" placeholder="Edad">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit" value="Sign in">
</form>

<a href="/api/sessions/user-signup-github"><button>Registrarse con Github</button></a>

<p style="color: red">{{error}}</p>
