
/* carts */

.menu {
    display: block;
    margin-bottom: 10px;
}

/* cartsView */

#div-container {
    display: table;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

#div-content {
    display: table-cell;
    padding: 10px;
}

h4, button {
    display: inline-block;
}

form {
    margin-bottom: 10px;
}

.button-extend {
    margin-left: 10px;
}

#button-delete {
    display: inline-block;
}

#button-purchase {
    position: relative;
    left: 40%;
}

.element-hidden {
    display: none;
}

.element-visible {
    display: block;
}