
.chat-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid #ccc;
}

.chat-messages {
    height: 600px;
    background-color: #fff;
}

.chat-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-messages-ul {
    color: black;
}