
.products-menu-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.products-add-form, .products-filter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.products-view-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-view-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

.product-title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.add-button {
    display: inline-block;
    position: relative;
    bottom: 80px;
}

.element-hidden {
    display: none;
}

.element-visible {
    display: block;
}