
.menu {
    display: block;
    margin-bottom: 10px;
}

#div-products {
    display: inline-block;
}

#div-container {
    display: table;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

#div-content {
    display: table-cell;
    padding: 10px;
}

.add-button {
    display: inline-block;
    position: relative;
    bottom: 80px;
}

h3, button {
    display: inline-block;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

input {
    display: block;
    margin-bottom: 10px;
}

#input-product {
    display: inline-block;
}