
table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    border: 1px solid black;
}

td {
    padding: 5px;
    border: 1px solid black;
}

.menu {
    display: block;
    margin-bottom: 10px;
}