
.menu {
    display: block;
    margin-bottom: 10px;
}

.user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    border: 1px solid black;
}

td {
    padding: 5px;
    border: 1px solid black;
}

hr {
    width: 100%;
}