<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Productos</title>
</head>
<body>
    <h1 style="display: inline-block;">Ecommerce</h1>
    <a class="a-0" href="/">Inicio</a>
    <a class="a-1" href="/api/chats/messages">Chat</a>
    <a class="a-1" href="/carts">Carritos</a>
    <a class="a-1" href="/products">Productos</a>
    <a class="a-1" href="/productsrealtime">Productos (Real Time)</a>
    <a class="a-1" href="/api/users/usersMenuView">Usuarios</a>
    <a class="a-0" href="/api/sessions/login">Login</a>
    <a class="a-0" href="/api/sessions/logout">Logout</a>
    <a class="a-1" href="/api/sessions/signup">Sign up</a>
    <a class="a-1" href="/profile">Perfil</a>
    <hr>

    <div class="body">
        {{{body}}}
    </div>
</body>
</html>