<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Productos</title>
</head>
<body>
    <h1 style="display: inline-block;">Ecommerce</h1>
    <form id="buttons-form-0" method="get" action="/">
        <input class="buttons" type="submit" value="Inicio"></input>
    </form>
    <form id="buttons-form-1" method="get" action="/chat">
        <input class="buttons" type="submit" value="Chat"></input>
    </form>
    <form id="buttons-form-1" method="get" action="/carts">
        <input class="buttons" type="submit" value="Carritos"></input>
    </form>
    <form id="buttons-form-1" method="get" action="/products">
        <input class="buttons" type="submit" value="Productos"></input>
    </form>
    <form id="buttons-form-1" method="get" action="/realtimeproducts">
        <input class="buttons" type="submit" value="Productos (Real Time)"></input>
    </form>
    <hr>

    {{{body}}}
</body>
</html>